# Gmail SMTP cho localhost
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_EHLO_DOMAIN=localhost

# Tài khoản Gmail gửi mail
EMAIL_USERNAME=yourgmail@gmail.com
EMAIL_PASSWORD=your_16_char_app_password
MAIL_FROM_ADDRESS=yourgmail@gmail.com
MAIL_FROM_NAME=Website Linh Kiện Điện Tử
